@import "tailwindcss";
@import '~react-quill-new/dist/quill.snow.css'; 

@theme{
  
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;
}


div[role='dialog'] {
  align-content: center !important;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
}
svg {
  display: block;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #000000 !important;
}

/* Tooltip css */
.tooltip .tooltiptext {
  visibility: hidden;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Quill  toolbar and editor css */
.ql-snow.ql-toolbar {
  padding: 8px 16px !important;
}

.ql-snow.ql-toolbar button.custom-quill-button {
  padding: 0 !important;
}

.ql-snow.ql-toolbar button:focus {
  color: #000000 !important;
}

#toolbar:not(.ql-toolbar.ql-snow) .ql-image {
  display: none !important;
}

.quill .ql-container {
  border: none !important;
}

.quill .ql-container:focus {
  border: 1px red solid !important;
}

.quill .ql-container .ql-editor {
  min-height: 100vh;
  font:
    400 16px/28px 'Open Sans',
    sans-serif;
  line-height: 2rem !important;
  max-width: 100%;
}

.quill .ql-container .ql-editor:focus {
  outline: solid;
  outline-width: 1px;
  outline-color: #1c64f2;
}

.quill .ql-container .ql-syntax {
  background-color: #dedede !important;
  color: #000000 !important;
  margin: 1rem auto;
  font-size: 14px;
  padding: 1rem 2rem;
  line-height: 1.5;
  letter-spacing: normal;
  max-width: 85%;
}

.quill .ql-container .ql-editor a,
.quill .ql-container .ql-editor p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0px;
}
.quill .ql-container .ql-editor a {
  color: #1c64f2;
}
.quill .ql-container .ql-editor a:hover {
  text-decoration-color: #1c64f2;
  text-decoration-line: underline;
}
.quill .ql-container .ql-editor strong {
  font-weight: 600;
}
.quill .ql-container .ql-editor h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.quill .ql-container .ql-editor h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.ql-snow .ql-editor blockquote {
  border-left: 4px solid #ccc;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 16px;
  background-color: #eee;
  margin: 1rem auto;
}
.quill .ql-container ul,
.quill .ql-container ol {
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.quill .ql-container ul {
  list-style-type: disc;
}
.quill .ql-container ol {
  list-style-type: decimal;
}
.quill .ql-container img {
  margin: 1rem auto;
}
.ql-clipboard {
  position: fixed !important;
  display: none !important;

  left: 50% !important;
  top: 50% !important;
}
/* lesson viewer css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@media screen and (max-width: 640px) {
  .quill .ql-container .ql-syntax {
    background-color: #dedede !important;
    color: #000000 !important;
    margin: 1rem auto;
    font-size: 12px;
    padding: 1rem 2rem;
    line-height: 1.5;
    letter-spacing: normal;
    max-width: 85%;
  }

  .quill .ql-container .ql-editor a,
  .quill .ql-container .ql-editor p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0px;
  }

  .quill .ql-container .ql-editor h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }

  .quill .ql-container .ql-editor h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .quill .ql-container ul,
  .quill .ql-container ol {
    padding-left: 2.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  [class^='ql-indent-']:not(.ql-indent-1):not(.ql-indent-2):not(.ql-indent-3) {
    white-space: nowrap;
  }
}
