@import '../../../../node_modules/tailwindcss/base.css';
@import '../../../../node_modules/tailwindcss/components.css';
@import '../../../../node_modules/tailwindcss/utilities.css';

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
svg {
  display: block;
  shape-rendering: auto;
  text-rendering: optimizeLegibility;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #000000 !important;
}

/* Quill  toolbar and editor css */
.ql-snow.ql-toolbar {
  padding: 8px 16px !important;
}

.ql-snow.ql-toolbar button.custom-quill-button {
  padding: 0 !important;
}

.ql-snow.ql-toolbar button:focus {
  color: #000000 !important;
}

#toolbar:not(.ql-toolbar.ql-snow) .ql-image {
  display: none !important;
}

.quill .ql-container {
  border: none !important;
}

.quill .ql-container:focus {
  border: 1px red solid !important;
}

.quill .ql-container .ql-editor {
  min-height: 100vh;
}

.quill .ql-container .ql-editor:focus {
  border: 1px #1C64F2 solid;
}

.quill .ql-container .ql-syntax {
  background-color: #d3d3d3 !important;
  color: #000000 !important;
}
/* Quill  toolbar and editor css */
