name: Build Checks

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  backend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.14]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Reset Nx cache
        run: npx nx reset

      - name: Run build
        run: npx nx run quick-learn-backend:build

  frontend:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.14]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Reset Nx cache
        run: npx nx reset

      - name: Run build
        run: npx nx run quick-learn-frontend:build
