name: Lint Checks
on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  lint-backend:
    runs-on: ubuntu-22.04
    steps:
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci

      - name: Reset Nx cache
        run: npx nx reset

      - name: Run lint
        run: npx nx lint quick-learn-backend --max-warnings=0

      - name: Check formatting
        run: npx nx run quick-learn-backend:format:check --max-warnings=0

  lint-frontend:
    runs-on: ubuntu-22.04
    steps:
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci

      - name: Reset Nx cache
        run: npx nx reset

      - name: Run lint
        run: npx nx lint quick-learn-frontend --max-warnings=0

      - name: Check formatting
        run: npx nx run quick-learn-frontend:format:check --max-warnings=0

  build-frontend:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.9.0

      - name: Cache Node modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install system dependencies
        run: sudo apt-get install -y build-essential libvips-dev

      - name: Install dependencies
        run: npm ci

      - name: Reset Nx cache
        run: npx nx reset

      - name: Validate Nx workspace
        run: npx nx validate

      - name: Debug Nx project graph
        run: npx nx graph --file=graph.html

      - name: Run build
        run: npx nx build quick-learn-frontend
